/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
/storage/framework/laravel-excel/
**/*.http
**/*.rest
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php
.idea/
.vscode/
tools/
/public/js/
/public/css/
/public/build/
/public/static/
/nbproject/
/public/mix-manifest.json
/public/attestations/
/public/storage/attestations_images/
/public/attestations_images/
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
